/fileupload.ui
/index.html
/leaflet
/leaflet_map.html
/main.py
/main2.py
/map.html
/message.py
/myenv
/process_images.py
/pyqt-env
/qgis_init.py
/script.js
/sign1.py
/signin.py
/signin.ui
/symbology-style.db
/tempCodeRunnerFile.py
/temp_geojson.png
/__pycache__